.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header-container {
  display: flex;
  flex-direction: row;
  padding: 0 150px;
  gap: 70px;
  justify-content: center;
}

.profile-status {
  display: flex;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 3rem;
  color: var(--white-color);
  margin: 0 0 30px 0;
}

.status-active {
  color: var(--green-color);
  margin-left: 15px;
}

.status-blocked {
  color: var(--red-color);
  margin-left: 15px;
}

.profile-image {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--white-shadow)
}

.fallback-avatar {
  background-color: var(--white-color);
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
  user-select: none;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 20px;
}

.username {
  display: flex;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

.other-info {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.follow-info-container {
  display: flex;
  justify-content: space-between;
}

.posts-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}