########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# Root-level ignore
########################################
*.sw?
*.suo
*.sln
*.njsproj
*.njsproj.user
*.ntvs*

########################################
# Frontend (React / Vite)
########################################
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

########################################
# Backend (Gradle / Spring Boot)
########################################
HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

########################################
# IDE Files
########################################

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/*
!.vscode/extensions.json

### Eclipse / STS ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/