.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.welcome {
  font-weight: 600;
  display: flex;
  gap: 20px
}

.user {
  font-weight: 900;
  color: var(--accent-color);
}

.logo-l {
  width: 60%;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.auth-container .primary-btn {
  width: 100px;
}

.create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.home-posts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.posts-container {
  width: 100%;
}

.feed-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}
