.login-page {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}